# dependencies
node_modules/
/.pnp
.pnp.*

# builds
.next/
out/
dist/
build/

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# prisma
*.db
